extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas
  p#log
  script(src='/javascripts/jquery-2.2.3.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.js')
